
.main-container {
  margin: 100px 200px;
  border: 1px solid #000000;
}

section.item-details {
  border-left:1px solid #333333;
  padding: 50px;
}

ul.item-index {
  padding: 50px;
}

h1 {
  text-align: center;
  padding: 50px;
}
